@import "_reset";

html, body{
   background-color: rgba(0, 0, 0);
   font-family: 'Poppins';
   font-size: 16px;
   font-weight: 400;
   line-height: 27px;
   letter-spacing: 0.01em;
   color: #fff;
}

body{
   &::-webkit-scrollbar{
      width: 0.3vw;
   }
   &::-webkit-scrollbar-thumb{
      width: 0.3vw;
      background: rgba(153,69,255,1);
      background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(5%, rgba(153,69,255,1)), color-stop(11%, rgba(136,82,243,1)), color-stop(17%, rgba(84,151,213,1)), color-stop(23%, rgba(67,180,202,1)), color-stop(36%, rgba(40,224,184,1)), color-stop(97%, rgba(25,251,157,1)), color-stop(100%, rgba(25,251,157,1)));
      background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
   }
   &::-webkit-scrollbar-track{
      width: 0.3vw;
   }
}

ul, ol{
	list-style: none;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.header{
   position: relative;
   background: url(../sourse/img/content/Circle.png) no-repeat center top;
   @media(max-width: 638px){
      background-size: auto 850px;
   }
   @media(max-width: 616px){
      background-size: auto 650px;
   }
      &-nav-container{
         margin: 0 auto;
         max-width: 1720px;
         padding-top: 58px;
         @media(max-width: 1786px){
            padding: 58px 30px 0 30px;
         }
         a{
            transition: .2s linear;
               
               &:hover{
                  opacity: 0.5;
               }
               &:active{
                  opacity: 1;
               }
         }
      }
      &__burger{
         display: none;
         width: 40px;
         height: 30px;
         position: relative;
         z-index: 15;
            &::after, &::before{
               position: absolute;
               content: '';
               display: block;
               height: 2px;
               background-color: #fff;
               width: 100%;
               transition: .2s ease;
            }
            &::after{
               bottom: 0px;
            }
            &::before{
               top: 0px;
            }
            span{
               width: 100%;
               position: absolute;
               top: 15px;
               display: block;
               height: 1.6px;
               background-color: #fff;
               transition: .2s ease;
            }
            @media(max-width: 767px){
               display: block;
            }
      }
}

.header__burger.active{
   position: relative;
   z-index: 15;
   &::after{
      transform: rotate(45deg);
      bottom: 13px;
   }
   &::before{
      transform: rotate(-45deg);
      top: 15px;
   }
   span{
      transform: scale(0);
   }
}

.header-menu{
   z-index: -10;
   transition: .3s linear;
   position: absolute;
   top: -100%;
   padding-top: 30px;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-color: #0f0017;

      &-list{
         max-height: 50%;
         font-size: 25px;
         text-align: center;
         font-weight: 600;
         line-height: 44px;
         letter-spacing: 0em;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         a{
            transition: .1s ease;
            position: relative;
               &:active{
                  opacity: 0.3;
               }
         }
      }
}

body.lock{
   overflow: hidden;
}

.header-menu.active{
   z-index: 10;
   display: flex;
   top: 0;
   transition: .3s linear;
}

.header-nav{
   display: flex;
   justify-content: space-between;  
      @media(max-width: 475px){
         gap: 20px;
         align-items: center;
      }
      &__logo{
         margin-right: 61.52px;
         @media(max-width: 767px){
            margin-right: 0;
         }
      }
      a{
         height: 100%;
      }
   &-list{
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: right;
      @media(max-width: 767px){
         display: none;
      }
         a{
            position: relative;
               &::after{
                  transition: .2s linear;
                  content: '';
                  position: absolute;
                  height: 2px;
                  background-color: #fff;
                  bottom: 0;
                  left: 0;
                  width: 100%; 
                  transform: scaleX(0);
               }
               &:hover{
                  opacity: 1;
                  &::after{
                    transform: scaleX(1);
                  }
               }
               &:active{
                  opacity: 0.5;
                  &::after{
                     transition: .1s linear;
                     transform: scaleX(0);
                   }
               }
         }
   }
}

.header-container{
   max-width: 1430px;
   margin: 0 auto;
   margin-top: 215px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: 0em;
   @media(max-width: 1500px){
      padding: 0 20px;
   }
   @media(max-width: 611px){
      padding: 0 10px;
      margin-top: 120px;
   }
   span{
      background: rgba(153,69,255,1);
      background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
      background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
      background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
      background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
      &__title{
         font-size: 63px;
         font-weight: 600;
         line-height: 96px;
         letter-spacing: 0em;
         @media(max-width: 722px){
            font-size: 35px;
            line-height: 55px;
         }
      }
      &-buttons{
         text-align: center;
         font-weight: 500;
         line-height: 24px;
         letter-spacing: 0em;
         display: flex;
         line-height: 24px;
         gap: 30px;
         margin-bottom: 367px;
         @media(max-width: 611px){
            margin-bottom: 140px;
         }
         a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
         }
            &__button--white{
               background-color: #fff;
                     &:hover{
                        background-color: transparent;
                        color: #fff;
                        outline: 1px solid #fff;
                     }
                     &:active{
                        background-color: #fff;
                        color: #000;
                        outline: none;
                     }
            }
            &__button--transparent{
               color: #fff;
               background: transparent;
               border: 1px solid #fff;
                  &:hover{
                     color: #000;
                     background-color: #fff;
                  }
                  &:active{
                     background-color: transparent;
                     color: #fff;
                  }
            }
            button{
               transition: .2s linear;
               min-height: 54px;
               width: 188px;
               @media(max-width: 522px){
                  max-width: 188px;
               }
            }
      }
      &-wrapper{
         max-width: 780px;
         display: flex;
         flex-direction: column;
         gap: 30px;
      }
}

.container{
   max-width: 1430px;
   margin: 0 auto;
}

.company{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 860px;
   gap: 30px;
      p{
         @media(max-width: 611px){
            padding: 0 20px;
         }
         background: rgba(153,69,255,1);
         background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
         background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-size: 20px;
         font-weight: 600;
         line-height: 30px;
         letter-spacing: 0.04em;
         text-align: center;
      }
      &-logos{
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         gap: 30px;
         align-items: center;
         max-width: 488.07px;
         @media(max-width: 558px){
            padding: 0 20px;
         }
         &__image--1{
            width: 100%;
         }
         &__image--2{
            width: 72%;
         }
      }
}

.join{
   margin-top: 276px;
   @media(max-width: 1468px){
      padding: 0 20px;
   }
   @media(max-width: 703px){
      margin-top: 130px;
   }
   @media(max-width: 610px){
      padding: 0 10px;
   }
      &__title{
         max-width: 614px;
         font-size: 64px;
         font-weight: 600;
         line-height: 96px;
         letter-spacing: 0em;
         margin-bottom: 60px;
         @media(max-width: 703px){
            font-size: 35px;
            line-height: 55px;
            margin-bottom: 20px;
         }
            span{
               background: rgba(153,69,255,1);
               background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
               background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
               background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
               background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
               background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
               background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
            }
      }
      &-info{
         &-list{
            display: flex;
            flex-wrap: wrap;
            font-size: 96px;
            font-weight: 400;
            line-height: 132px;
            letter-spacing: 0em;        
            justify-content: space-between;
            @media(max-width: 1468px){
               flex-direction: column;
            }
            @media(max-width: 703px){
               gap: 28px;
               font-size: 30px;
               line-height: 48px;
            }
               span{
                  max-width: 422px;
                     display: flex;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 24px;
                     letter-spacing: 0em;     
               }
         }
      }
}

.made{
   margin-top: 409.5px;
   display: flex;
   gap: 20px;
      @media(max-width: 1467px){
         flex-direction: column;
         padding: 0 20px;
         margin-top: 170px;
      }  
      @media(max-width: 610px){
         padding: 0 10px;
         margin-top: 100px;
      }  
      &__title{
         background: rgba(153,69,255,1);
         background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
         background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-size: 64px;
         font-weight: 600;
         line-height: 96px;
         letter-spacing: 0em;
         width: 560px;
         text-align: right;
         margin-left: auto;
         align-self: center;
         @media(max-width: 1467px){
            align-self: flex-start;
            order: -2;
            text-align: left;
            margin-left: 0;
            margin-bottom: 25px;
         }  
         @media(max-width: 701px){
            font-size: 35px;
            line-height: 55px;
         }  
      }
      &-box{
         &-container{
            display: flex;
            flex-direction: column;
            gap: 60px;
            flex-wrap: wrap;
            @media(max-width: 895px){
               justify-content: center;
               gap: 80px;
            }  
            @media(max-width: 459px){
               gap: 70px;
            }  
         }
         &-row--1{
            display: flex;
            gap: 78px;
            flex-wrap: wrap;
            @media(max-width: 895px){
               justify-content: center;
               gap: 80px;
            }  
            @media(max-width: 459px){
               gap: 70px;
            }  
         }
         &-row--2{
            flex-wrap: wrap;
            display: flex;
            gap: 78px;
            @media(max-width: 895px){
               justify-content: center;
               gap: 80px;
            }  
            @media(max-width: 459px){
               gap: 70px;
            }  
         }
         &__title{
            font-size: 32px;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: 0em;
            padding-left: 54.6px;   
            position: relative;
            margin-bottom: 20px;
               &::before{
                  content: '';
                  position: absolute;
                  display: inline-block;
                  width: 24.6px;
                  height: 22px;
                  background: url(../sourse/img/icons/Solana.svg) no-repeat;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 10px;
               }
               @media(max-width: 426px){
                  font-size: 26px;
                  line-height: 36px;
                  margin-bottom: 10px;
               }  
         }
         &__info{
            max-width: 386px;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.01em; 
               span{
                  color: #00AC11;
               }  
               @media(max-width: 401px){
                  max-width: 310px;
               }        
         }
         &__number{
            font-size: 36px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0em;                      
         }
         &__subnumber{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;  
            width: 386px;                    
         }
      }
}

.made-box--1,
.made-box--3{
   div{
      margin-top: 58px;
      @media(max-width: 895px){
         margin-top: 20px;
      }  
   }
}

.made-box--2,
.made-box--4{
   div{
      margin-top: 31px;
      @media(max-width: 895px){
         margin-top: 20px;
      }  
   }
}

.build{
   margin-top: 350px;
   @media(max-width: 767px){
      margin-top: 120px;
   }
   &__title{
      max-width: 1200px;
      font-size: 64px;
      font-weight: 600;
      line-height: 96px;
      letter-spacing: -1px;    
      background: rgba(153,69,255,1);
      background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(5%, rgba(153,69,255,1)), color-stop(11%, rgba(136,82,243,1)), color-stop(17%, rgba(84,151,213,1)), color-stop(23%, rgba(67,180,202,1)), color-stop(36%, rgba(40,224,184,1)), color-stop(97%, rgba(25,251,157,1)), color-stop(100%, rgba(25,251,157,1)));
      background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media(max-width: 767px){
         margin-top: 0px;
         font-size: 37px;
         line-height: 45px;
      }
   }
   &__item{
      width: 310px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 600px;
      @media(min-width: 827px){
         max-width: 510px;
      }
      @media(min-width: 950px){
         max-width: 750px;
      }
      @media(min-width: 1658px){
         max-width: 700px;
      }
      p{
         @media(min-width: 320px){
            max-width: 310px;
         }
         @media(min-width: 827px){
            max-width: 827px;
         }
      }
       &-logotype--2, &-logotype--3{
         max-height: 50px;
       } 
       &-title--1,&-title--2,&-title--3{
         text-align: center;
         font-size: 32px;
         font-weight: 600;
         line-height: 48px;
         letter-spacing: 0em;       
       }
       a{
         align-self: center;
         font-weight: 500;
         text-align: center;         
         position: relative;
         display: inline-block;
         &::after{
            transition: .2s linear;
            content: '';
            position: absolute;
            height: 2px;
            background-color: #fff;
            bottom: 0;
            left: 0;
            width: 100%; 
            transform: scaleX(0);
         }
         &:hover{
            opacity: 1;
            &::after{
              transform: scaleX(1);
            }
         }
         &:active{
            opacity: 0.5;
            &::after{
               transition: .1s linear;
               transform: scaleX(0);
             }
         }
       }
       &-logos--1,&-logos--2,&-logos--3{
         flex-grow: 1;
       }
       &-image--1,&-logotype--1{
         margin-bottom: 36.8px;
       }
       &-image--2,&-logotype--2{
         margin-bottom: 45.8px;
       }
       &-image--3,&-logotype--3{
         margin-bottom: 47.2px;
       }
       &-title--1,&-title--2,&-title--3{
         margin-bottom: 36.8px;
       }
       img{
         max-width: 320px;
            @media(min-width: 827px){
               max-width: 827px;
            }
            @media(min-width: 950px){
               max-width: 750px;
            }
       }
       &-logos--3,&-logos--2,&-logos--1{
         margin-left: 10px;
         @media(min-width: 827px){
            margin: 50px 0;
         }
       }
   }
}

.swiper{
   min-height: 750px;
   @media(min-width: 320px){
      max-width: 950px;
   }
   @media(min-width: 950px){
      max-width: 1950px;
   }
   @media(max-width: 767px){
      min-height: 680px;
   }
      &-buttons{
         display: flex;
         gap: 40px;
         @media(max-width: 767px){
            gap: 25px;
         }
      }
      &-header{
         max-width: 1200px;
         margin: 0 auto;
         align-items: center;
         justify-content: space-between;
         display: flex;
         position: relative;
         margin-bottom: 60px;
         @media(max-width: 1612px){
            padding: 0 20px;
         }
         @media(max-width: 1242px){
            padding: 0 10px;
         }
         @media(max-width: 411px){
            gap: 15px;
            flex-direction: column;
            align-items: flex-start;
         }
      }
      &-button-left,&-button-right{
         cursor: pointer;
      }
}

.join--2{
   margin-top: 422.5px;
   @media(max-width: 954px){
      margin-top: 200px;
   }
   @media(max-width: 767px){
      margin-top: 80px;
   }
      &__title{
         max-width: 100%;
         display: block;
         font-size: 64px;
         font-weight: 600;
         line-height: 96px;
         letter-spacing: 0em;
         text-align: center;
         margin-bottom: 121px;
         @media(max-width: 954px){
            padding: 0 20px;
         }
         @media(max-width: 767px){
            padding: 0 10px;
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 35px;
         }
            span{
               background: rgba(153,69,255,1);
               background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
               background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(5%, rgba(153,69,255,1)), color-stop(11%, rgba(136,82,243,1)), color-stop(17%, rgba(84,151,213,1)), color-stop(23%, rgba(67,180,202,1)), color-stop(36%, rgba(40,224,184,1)), color-stop(97%, rgba(25,251,157,1)), color-stop(100%, rgba(25,251,157,1)));
               background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
               background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
               background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
               background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(153,69,255,1) 5%, rgba(136,82,243,1) 11%, rgba(84,151,213,1) 17%, rgba(67,180,202,1) 23%, rgba(40,224,184,1) 36%, rgba(25,251,157,1) 97%, rgba(25,251,157,1) 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent; 
            }
      }
      &__slider{
         display: flex;
         position: relative;
         width: 100vw;
         height: 421px;
            &::after,&::before{
               content: '';
               position: absolute;
               display: inline-block;
               width: 131px;
               height: 100%;
               z-index: 5;
               background: rgba(0,0,0,1);
               background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
               background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
               background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
               background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
               background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
               background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            }
            &::after{
               right: 0px;
               background: rgba(255,255,255,0);
               background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
               background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
               background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
               background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
               background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
               background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            }
      }
      img{
         width: 300px;
      }
}

.slider{
   &__element--1,&__element--3,&__element--2{
      display: flex;
      flex-direction: column;
      gap: 10px;
         img{
            height: 205px;
         }
         div{
            width: 300px;
            height: 100%;
            background: url(../sourse/img/content/People2.png) no-repeat center;
         }
   }
   &__element--4{
      img{
         height: 420px;
      }
   }
}

.time{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 335.5px;
   gap: 30px;
   @media(max-width: 1127px){
      padding: 0 20px;
   }
   @media(max-width: 767px){
      margin-top: 130px;
   }
      &__title{
         margin: 0 auto;
         max-width: 1040px;
         font-size: 64px;
         font-weight: 600;
         line-height: 96px;
         letter-spacing: 0em;
         text-align: center; 
         background: rgba(153,69,255,1);
         background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
         background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;  
         @media(max-width: 767px){
            font-size: 35px;
            line-height: 55px;
         }     
         @media(max-width: 569px){
            font-size: 28px;
            line-height: 45px;
         }   
      }
      &__button{
         transition: .2s linear;
         display: inline-block;
         padding: 15px 40px;
         background-color: #fff;
         font-size: 16px;
         font-weight: 500;
         line-height: 24px;
         text-align: center;
         color: #202020;
         &:hover{
            background-color: transparent;
            color: #fff;
            outline: 1px solid #fff;
         }
         &:active{
            background-color: #fff;
            color: #000;
            outline: none;
         }
      }
}

.footer{
   justify-content: space-between;
   flex-direction: column;
   display: flex;
   margin-top: 252.46px;
      @media(max-width: 1520px){
         padding: 0 20px;
      }
      @media(max-width: 767px){
         padding: 0 10px;
         margin-top: 90px;
         align-items: center;
      }
      &-content{
         display: flex;
         justify-content: space-between;
         @media(max-width: 767px){
            flex-direction: column;
            gap: 40px;
         }
      }
      &-left{
         flex-wrap: wrap;
         max-width: 379px;
         gap: 20px;
         display: flex;
         flex-direction: column;
            a{
               transition: .2s linear;
                  &:hover{
                     opacity: 0.5;
                  }
                  &:active{
                     opacity: 1;
                  }
         }
         p{
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0em;          
         }
         &__networks{
            display: flex;
            gap: 10px;
            margin-bottom: 4px;
            flex-wrap: wrap;
         }
         &__info{
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            color: #848895;  
            transition: .2s linear;  
         }
      }
      &-right{
         display: flex;
         gap: 70px;
         &-list-container{
            display: flex;
         }
      }
      &-list{
         padding-left: 20px;
         min-height: 223px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         font-size: 14px;
         font-weight: 400;
         line-height: 27px;
         letter-spacing: 0em;
         color: #848895;  
         @media(max-width: 767px){
            padding-left: 0;
         }
            a{
               position: relative;
               &::after{
                  transition: .2s linear;
                  content: '';
                  position: absolute;
                  height: 2px;
                  background-color: #848895;
                  bottom: 0;
                  left: 0;
                  width: 100%; 
                  transform: scaleX(0);
               }
               &:hover{
                  opacity: 1;
                  &::after{
                    transform: scaleX(1);
                  }
               }
               &:active{
                  &::after{
                     transition: .1s linear;
                     transform: scaleX(0);
                   }
               }
            }
            span{
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
               letter-spacing: 1px;
               color: #fff;
                  a{
                     &::after{
                        background-color: #fff;
                     }
                  }
            }   
      }
      &-list-right{
         justify-content: flex-start;
         gap: 11px;
      }
}

.bottom-line{
   margin-top: 135px;
   max-width: 100%;
   height: 10px;
   background: rgba(153,69,255,1);
   background: -moz-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,69,255,1)), color-stop(30%, rgba(136,82,243,1)), color-stop(49%, rgba(84,151,213,1)), color-stop(64%, rgba(67,180,202,1)), color-stop(74%, rgba(40,224,185,1)), color-stop(100%, rgba(25,251,157,1)));
   background: -webkit-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
   background: -o-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
   background: linear-gradient(45deg, rgba(153,69,255,1) 0%, rgba(136,82,243,1) 30%, rgba(84,151,213,1) 49%, rgba(67,180,202,1) 64%, rgba(40,224,185,1) 74%, rgba(25,251,157,1) 100%);
   @media(max-width: 767px){
      height: 6px;
      margin-top: 45px;
   }
}




